<div class="dashboard--container">
    <div class="content">
        <div class="left">
            <p>We make confenctionary</p>
            <p class="hero">magic.</p>
            <p class="sub">Our coffee blend is world famous and made in Philippines. 
                Available in many different touch of taste. We’re the perfect accessory 
                for any coffee lover.</p>
            <p class="sub">Whatever drinks you’re craving, we’ve got the perfect flavour for 
                you. Your choices can change the world. This is especially true 
                when it come to coffee beans.</p>
            <div class="btn-content">
                <button class="btn-hero">BUY NOW!</button>
                <p>₱120</p>
            </div>
           
        </div>
        <div class="right">
            <img src="../../../../assets/images/coffee-hero.png" alt="">
        </div>
    </div>

    <div class="service--container">
        <div class="title">
            <p>WE ALSO SERVE!</p>
        </div>
        <div class="top-item">
            <p>#P<span style="color: #EB6C56;">ast</span>a</p>
            <p>#Pas<span style="color: #FF4B4B;">tr</span>ies</p>
        </div>
        <div class="bottom-item">
            <p>#Espre<span style="color: #37A458;">sso</span></p>
            <p>#Non C<span style="color: #F801FC;">off</span>ee</p>
            <p>#F<span style="color: #227FF9;">rap</span>pes</p>
        </div>
    </div>
</div>