
<div class="about--container">
    <div class="contents">
        <div class="top--content general">
            <div class="hero--image">
                <img src="../../../../assets/images/aboutimg.jpg" alt="">
            </div>
            <div class="context">
                <div class="title">
                    <p>ABOUT US</p>
                </div>
                <div class="count">
                    <div class="left count">
                        <p class="count-head">32</p>
                        <p>Years since <br>
                            founded</p>
                    </div>
                    <div class="right count">
                        <p class="count-head">25</p>
                        <p>Branch <br> outlet</p>
                    </div>
                </div>
                <div class="details">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum nibh non eros mattis posuere. Maecenas sed facilisis tellus. Vivamus luctus non lacus vel auctor. Mauris at mauris interdum, venenatis nulla a, facilisis leo.
                </div>
                <div class="button--container">
                    <button>SHOP NOW</button>
                </div>
            </div>
        </div>
        <div class="bottom--content general"> 
            <div class="context">
                <div class="title">
                    <p>HOW WE DO</p>
                </div>
                <div class="details">
                    <p>In sit amet cursus purus. Morbi urna massa, convallis vitae sem at, facilisis semper massa. In in neque nec urna suscipit imperdiet.  Suspendisse mollis justo vel nulla accumsan, eu tempor arcu tincidunt. Nunc pretium cursus felis vel convallis. Maecenas purus lacus, lacinia eu purus vitae, dictum ullamcorper quam. Curabitur tristique sit amet velit ut sagittis.is tellus. Vivamus luctus non lacus vel auctor. Mauris at mauris interdum, venenatis nulla a, facilisis leo.</p>
                </div>
                <div class="button--container">
                    <button>EXPLORE MORE</button>
                </div>
            </div>
            <div class="hero--image">
                <img src="../../../../assets/images/exploreimg.jpg" alt="">
            </div>
        </div>
        
    </div>
   
</div>

