<!-- 
<div *ngIf="images && images.length > 0" class="carousel--container">
    <img *ngFor="let image of images; let i = index" 
    [src]="image.imageSrc" [alt]="image.imageAlt"
    [ngClass]="{'image-active': selectedIndex === i }"
    class="fade"
    >

    <div *ngIf="indicators"  class="carousel-dot-container">
        <span 
        *ngFor="let dot of images; let i =index" 
        [ngClass]="{'active':selectedIndex === i}" 
        class="dot"
        (click)="selectImage(i)"
        >
        </span>
    </div>

    <div *ngIf="controls" class="btn-carousel btn-prev">
        <i class="fas fa-arrow-circle-left icon-carousel icon-prev"
        (click)="onPrevClick()"
        ></i>
    </div>
    
    <div *ngIf="controls" class="btn-carousel btn-next">
    <i class="fas fa-arrow-circle-right icon-carousel icon-next"
    (click)="onNextClick()"
    ></i>
    </div>  
    
</div> 
 -->

 <div class="menu--container">
  <div class="context">
    <div class="left--container">
      <div class="espresso--list general">
        <div class="general--item">
          <p  (click)="setMenu(1)" class="head" [ngClass]="{'active':selectedList === 1}">ESPRESSO</p>
          <span *ngIf="!espresso">
            <img (click)="setMenu(1)" src="../../../../assets/images/down--arrow.png" alt=""/>
         </span>
         <span *ngIf="espresso">
            <img  (click)="setMenu(1)" src="../../../../assets/images/up--arrow.png" alt=""/>
         </span>
        </div>
        
        <div *ngIf="espresso" class="list--context">
            <div (click)="setCoffeeSelection('americano')"  class="content">
              <p>AMERICANO</p>
              <span>₱100</span>
            </div>
            <div (click)="setCoffeeSelection('latte')" class="content">
              <p>LATTE</p>
              <span>₱120</span>
            </div>
            <div (click)="setCoffeeSelection('vanillaLatte')" class="content">
              <p>VANILLA LATTE</p>
              <span>₱120</span>
            </div>
            <div (click)="setCoffeeSelection('caramelLatte')" class="content">
              <p>CARAMEL LATTE</p>
              <span>₱120</span>
            </div>
            <div (click)="setCoffeeSelection('hazelnutLatte')" class="content">
              <p>HAZELNUT LATTE</p>
              <span>₱120</span>
            </div>
            <div  (click)="setCoffeeSelection('spanishLatte')"  class="content">
              <p>SPANISH LATTE</p>
              <span>₱120</span>
            </div>
            <div (click)="setCoffeeSelection('cafeLatte')" class="content">
              <p>CAFE MOCHA</p>
              <span>₱120</span>
            </div>
            <div (click)="setCoffeeSelection('caramelMacchiato')" class="content">
              <p>CARAMEL MACCHIATO</p>
              <span>₱120</span>
            </div>
            <div (click)="setCoffeeSelection('saltedCaramelLatte')" class="content">
              <p>SALTED CARAMEL NACCHIATO</p>
              <span>₱120</span>
            </div>
            <div (click)="setCoffeeSelection('brownSugarLatte')" class="content">
              <p>BROWN SUGAR LATTE</p>
              <span>₱120</span>
            </div>
            <div (click)="setCoffeeSelection('white')" class="content">
              <p>WHITE MOCHA</p>
              <span>₱130</span>
          </div>
        </div>
      </div>


      <div class="nonCoffee--list general">
        <div class="general--item">
          <p  (click)="setMenu(2)" class="head" [ngClass]="{'active':selectedList === 2}">NON ESPRESSO</p>
          <span *ngIf="!nonCoffee">
            <img (click)="setMenu(2)" src="../../../../assets/images/down--arrow.png" alt=""/>
         </span>
         <span *ngIf="nonCoffee">
            <img  (click)="setMenu(2)" src="../../../../assets/images/up--arrow.png" alt=""/>
         </span>
        </div>
        <div *ngIf="nonCoffee" class="list--context">
          <div (click)="setCoffeeSelection('chocolateLatte')" class="content">
            <p>CHOCOLATE ICED/HOT</p>
            <span>₱100</span>
          </div>
          <div class="content">
            <p>MATCHA LATTE ICED/HOT</p>
            <span>₱100</span>
          </div>
          <div class="content">
            <p>THAI MILK TEA</p>
            <span>₱80</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="right--container">
      <div *ngIf="selectedCoffee['americano']" class="contained">
        <div class="image--hero">
          <img src="../../../../assets/images/americano.jpg" alt="" />
        </div>
        <div class="context--container">
          <div class="head"> 
              <h1>Americano</h1>
              <p>₱100</p>
              <p style="color: rgb(77, 76, 76);">₱120</p>
          </div>
          <div class="body">
              <p>Classic tomato and beef sauce topped with
                  béchamel, served with 1 garlic bread</p>
          </div>
        </div>
      </div>

      <div *ngIf="selectedCoffee['latte']" class="contained">
        <div class="image--hero">
          <img src="../../../../assets/images/lattedrink.jpg" alt="" />
        </div>
        <div class="context--container">
          <div class="head"> 
              <h1>Latte</h1>
              <p>₱120</p>
              <p style="color: rgb(77, 76, 76);">₱140</p>
          </div>
          <div class="body">
              <p>Classic tomato and beef sauce topped with
                  béchamel, served with 1 garlic bread</p>
          </div>
        </div>
      </div>

      <div *ngIf="selectedCoffee['vanillaLatte']" class="contained">
        <div class="image--hero">
          <img src="../../../../assets/images/vanillafrappe.jpg" alt="" />
        </div>
        <div class="context--container">
          <div class="head"> 
              <h1>VANILLA LATTE</h1>
              <p>₱120</p>
              <p style="color: rgb(77, 76, 76);">₱140</p>
          </div>
          <div class="body">
              <p>Classic tomato and beef sauce topped with
                  béchamel, served with 1 garlic bread</p>
          </div>
        </div>
      </div>

      <div *ngIf="selectedCoffee['caramelLatte']" class="contained">
        <div class="image--hero">
          <img src="../../../../assets/images/caramellatte.jpg" alt="" />
        </div>
        <div class="context--container">
          <div class="head"> 
              <h1>CARAMEL LATTE</h1>
              <p>₱120</p>
              <p style="color: rgb(77, 76, 76);">₱140</p>
          </div>
          <div class="body">
              <p>Classic tomato and beef sauce topped with
                  béchamel, served with 1 garlic bread</p>
          </div>
        </div>
      </div>

      <div *ngIf="selectedCoffee['hazelnutLatte']" class="contained">
        <div class="image--hero">
          <img src="../../../../assets/images/hazelnutlatte.jpg" alt="" />
        </div>
        <div class="context--container">
          <div class="head"> 
              <h1>HAZELNUT LATTE</h1>
              <p>₱120</p>
              <p style="color: rgb(77, 76, 76);">₱140</p>
          </div>
          <div class="body">
              <p>Classic tomato and beef sauce topped with
                  béchamel, served with 1 garlic bread</p>
          </div>
        </div>
      </div>

      <div *ngIf="selectedCoffee['spanishLatte']" class="contained">
        <div class="image--hero">
          <img src="../../../../assets/images/spanishlatte.jpg" alt="" />
        </div>
        <div class="context--container">
          <div class="head"> 
              <h1>SPANISH LATTE</h1>
              <p>₱120</p>
              <p style="color: rgb(77, 76, 76);">₱140</p>
          </div>
          <div class="body">
              <p>Classic tomato and beef sauce topped with
                  béchamel, served with 1 garlic bread</p>
          </div>
        </div>
      </div>

      <div *ngIf="selectedCoffee['cafeLatte']" class="contained">
        <div class="image--hero">
          <img src="../../../../assets/images/cafemocha.jpeg" alt="" />
        </div>
        <div class="context--container">
          <div class="head"> 
              <h1>CAFE MOCHA</h1>
              <p>₱120</p>
              <p style="color: rgb(77, 76, 76);">₱140</p>
          </div>
          <div class="body">
              <p>Classic tomato and beef sauce topped with
                  béchamel, served with 1 garlic bread</p>
          </div>
        </div>
      </div>

      <div *ngIf="selectedCoffee['caramelMacchiato']" class="contained">
        <div class="image--hero">
          <img src="../../../../assets/images/caramelmacchiato.jpg" alt="" />
        </div>
        <div class="context--container">
          <div class="head"> 
              <h1>CARAMEL MACCHIATO</h1>
              <p>₱120</p>
              <p style="color: rgb(77, 76, 76);">₱140</p>
          </div>
          <div class="body">
              <p>Classic tomato and beef sauce topped with
                  béchamel, served with 1 garlic bread</p>
          </div>
        </div>
      </div>

      <div *ngIf="selectedCoffee['saltedCaramelLatte']" class="contained">
        <div class="image--hero">
          <img src="../../../../assets/images/saltedcaramellatte.jpg" alt="" />
        </div>
        <div class="context--container">
          <div class="head"> 
              <h1>SALTED CARAMEL NACCHIATO</h1>
              <p>₱120</p>
              <p style="color: rgb(77, 76, 76);">₱140</p>
          </div>
          <div class="body">
              <p>Classic tomato and beef sauce topped with
                  béchamel, served with 1 garlic bread</p>
          </div>
        </div>
      </div>

      <div *ngIf="selectedCoffee['brownSugarLatte']" class="contained">
        <div class="image--hero">
          <img src="../../../../assets/images/brownsugarlatte.jpg" alt="" />
        </div>
        <div class="context--container">
          <div class="head"> 
              <h1>BROWN SUGAR LATTE</h1>
              <p>₱120</p>
              <p style="color: rgb(77, 76, 76);">₱140</p>
          </div>
          <div class="body">
              <p>Classic tomato and beef sauce topped with
                  béchamel, served with 1 garlic bread</p>
          </div>
        </div>
      </div>

      <div *ngIf="selectedCoffee['white']" class="contained">
        <div class="image--hero">
          <img src="../../../../assets/images/whitemocha.jpg" alt="" />
        </div>
        <div class="context--container">
          <div class="head"> 
              <h1>WHITE MOCHA</h1>
              <p>₱130</p>
              <p style="color: rgb(77, 76, 76);">₱140</p>
          </div>
          <div class="body">
              <p>Classic tomato and beef sauce topped with
                  béchamel, served with 1 garlic bread</p>
          </div>
        </div>
      </div>







      
      <div *ngIf="selectedCoffee['chocolateLatte']" class="contained">
        <div class="image--hero">
          <img src="../../../../assets/images/vanillafrappe.jpg" alt="" />
        </div>
        <div class="context--container">
          <div class="head"> 
              <h1>CHOCOLATE ICED/HOT</h1>
              <p>₱80</p>
          </div>
          <div class="body">
              <p>Classic tomato and beef sauce topped with
                  béchamel, served with 1 garlic bread</p>
          </div>
        </div>
      </div>



      
    </div>
  </div>
</div>
