$title-font: "Itim", sans-serif, cursive;
$general-font: "Montserrat", sans-serif;
$hero-font: "Hubballi", sans-serif;
$black : #3D3232;
$coffee : #FF7B00;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer--container{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
  
        .payments{
            img{
                width:45px;
            }
        }

    .context{
        max-width: 1512px;
        width: 80%;
        margin: 50px auto; 
        font-family: $general-font;
        color: $black;
       .top{
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        .followus{
            ul{      
                display: flex;
                li{
                  margin-right: 20px;
                }
            }
            
        }
        
        .head{
            
           .head--info{
            letter-spacing: 2.5px;
            margin-bottom: 15px;
            font-weight: bold;
           
           }
        }
        ul{
          
            li{
                font-size: 18px;
                list-style: none;
                margin-bottom: 12px;
                
                span{
                    letter-spacing:8px;
                    .coffee{
                        color: $coffee;
                        
                    }
                    
                }
                &:hover{
                    cursor: pointer;
                    color: $coffee;
                    font-weight: 600;
                }
               
            }
        }
       }


       .bottom{
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        margin-top: 30px;
        h2{
            font-size: 25px;
            letter-spacing: 18px;
            span{
                color: $coffee;
            }
        }
       }
       
    }
}