<div class="footer--container">
    <div class="context">
        <div class="top">
            <div class="companyinfo head">
                <p class="head--info">COMPANY INFO</p>
                <ul class="list">
                    <li>About <span class="whycoffee"> WHY<span class="coffee">COFFEE</span>  </span></li>
                    <li>Blog</li>
                    <li>Contact Us</li>
                    <li>Payment Methods</li>
                </ul>
            </div>
            <div class="helpsupport head">
                <p class="head--info">HELP AND SUPPORT</p>
                <ul class="list">
                    <li>FAQs</li>
                    <li>Shopping</li>
                    <li>How To Order</li>
                    <li>How To Track</li>
                </ul>
            </div>
            <div class="followus head">
                <p class="head--info">FOLLOW US</p>
                <div class="social--links">
                    <ul class="list">
                        <li><img src="../../../../assets/icons/bx_bxl-facebook.svg" alt=""></li>
                        <li><img src="../../../../assets/icons/bx_bxl-instagram.svg" alt=""></li>
                        <li><img src="../../../../assets/icons/bx_bxl-pinterest-alt.svg" alt=""></li>
                        <li><img src="../../../../assets/icons/bx_bxl-tiktok.svg" alt=""></li>
                        <li><img src="../../../../assets/icons/bx_bxl-twitter.svg" alt=""></li>
                        <li><img src="../../../../assets/icons/bx_bxl-youtube.svg" alt=""></li>
                    </ul>
                </div>
                <div class="payment">
                    <p class="head--info">WE ACCEPT</p>
                    <div class="payments">
                        <ul>
                            <li><img src="../../../../assets/icons/image 1.png" alt=""></li>
                            <li><img src="../../../../assets/icons/image 2.png" alt=""></li>
                            <li><img src="../../../../assets/icons/image 3.png" alt=""></li>
                            <li><img src="../../../../assets/icons/image 4.png" alt=""></li>
                            <li><img src="../../../../assets/icons/image 5.png" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <p>©2024 WHYCOFFE All Rights Reserved.</p>
            <h2>WHY<span>COFFEE</span></h2>
        </div>
    </div>
</div>