$coffee : #FF7B00;
$title-font: "Itim", sans-serif, cursive;
$general-font: "Montserrat", sans-serif;
$black : #3D3232;

.nav--container{
    // border: 1px solid red;
    position: sticky;
    top: 0; /* Sticks the navigation to the top of the container */
    z-index: 1000;
    background-color: #fff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Adds a shadow */
    transition: box-shadow 0.3s ease;
    .content{
        // border: 1px solid green; 
        max-width: 1512px;
        width: 80%; /* Set a fixed width for the body element */ 
        margin: 0 auto; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      
        .Title{
            
            font-size: 18px;
            h1{
                letter-spacing: 15px;
            }
            span{
                color: $coffee;
            }
        }
        .navigation--items{
           ul{
            display: flex;
            flex-direction: row;
            gap: 45px;
            li{
                font-size: 18px;
                list-style: none;
                &:hover{
                   cursor: pointer;
                   color: $black;
                   font-weight: 600;
                }
            }
           }

        }
    }

    .active {

        color: $black;
        font-weight: 600;
        position: relative;

        &::after{
            content: ""; 
            position: absolute;
            left: 0;
            right: 0;
            bottom: -15px; 
            height: 2px; 
            background-color: $black; 
        }
    }
  
}