<div class="nav--container">
    <div class="content">
        <div class="Title">
            <h1 routerLink="/">WHY<span>COFFEE</span></h1>
        </div>
        <div class="navigation--items">
            <ul>
                <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">HOME</li>
                <li routerLink="/menu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">MENU</li>
                <li routerLink="/feature" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">FEATURE</li>
                <li routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">ABOUT</li>
            </ul>
        </div>
    </div>
   
</div>