$title-font: "Itim", sans-serif, cursive;
$general-font: "Montserrat", sans-serif;
$hero-font: "Hubballi", sans-serif;
$black : #3D3232;
$coffee : #FF7B00;


.testimonials--container{
    // border: 1px solid red;
    .header--title{
        // border: 1px solid red;
        padding: 15px;
        background-color: #fff;
        text-align: center;
        font-family: $hero-font;
        font-size: 55px;
        letter-spacing: 35px;
    }
    .content{
        // border: 1px solid green;
        max-width: 1512px;
        width: 80%; /* Set a fixed width for the body element */ 
        margin: 50px auto; 
        justify-items: center;
       
    }
}