<div class="testimonials--container">
    <div class="header--title">
        <h1>What our trusted <br> Client says</h1>
    </div>
    <div class="content">
            <div class="carousel">
                <div class="testimonial">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia totam iusto rerum. Dolore, quod est.</p>
                    <h2>Halaman, Eleomar</h2>
                </div>
                <div class="testimonial">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia totam iusto rerum. Dolore, quod est.</p>
                    <h2>Lacambra, Kyla</h2>
                </div>
                <div class="testimonial">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia totam iusto rerum. Dolore, quod est.</p>
                    <h2>Sotero, Desabille</h2>
                </div>
            </div>
    </div>
</div>

