<div class="feature--container">
    <div class="contents">
        <div class="title">
            <p>OUR PRODUCT</p>
        </div>
        <div class="context">
            <div class="left--item">
                <ul>
                    <li class="active">Espresso</li>
                    <li>Non Coffee</li>
                    <li>Pasta</li>
                    <li>Pastries</li>
                    <li>Frappes</li>
                </ul>
            </div>
            <div class="right--item">
                <div class="product">
                    <div class="image--hero">
                        <img src="../../../../assets/images/macchiato.jpg" alt="">
                    </div>
                    <div class="details">
                        <p>Espresso and milk with steamed foam milk</p>
                    </div>
                    <div class="button--container">
                        <button  class="btn-general-design">Macchiato</button>
                    </div>
                </div>
                <div class="product">
                    <div class="image--hero">
                        <img src="../../../../assets/images/americano.jpg" alt="">
                    </div>
                    <div class="details">
                        <p>Espresso and milk with steamed foam milk</p>
                    </div>
                    <div class="button--container">
                        <button class="btn-general-design">Americano</button>
                    </div>
                </div>
                <div class="product">
                    <div class="image--hero">
                        <img src="../../../../assets/images/matcha.jpg" alt="">
                    </div>
                    <div class="details">
                        <p>Espresso and milk with steamed foam milk</p>
                    </div>
                    <div class="button--container ">
                        <button class="btn-general-design">Cafe Mocha</button>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="menu--link">
            <button  class="btn-general-design modify">SEE MENU</button>
        </div>
    </div>
</div>